#spiller{
    background-color: pink;
    padding: 5px;
    color: white;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);   
    width: 100px;
    height: 100px;
}